<li>
	<a class="a1"  href="<%= @deal.link %>" target="_blank">
		<img alt="模板王" src="<%= @deal.image_link%>" />
	</a>
	<p>
		<a  href="<%= @deal.link %>" target="_blank"><br />
			<%= @deal.title %> 
			<span class="price_symbol">￥</span>
			<span class="price_num">3.</span>
			<span class="price_change"><%= @deal.price%></span>
		</a></p>
</li>
