<div class="content">
  <% @deals.each do |deal| %>
    <div class="block">
      <a target="_blank" href="<%= deal_path(deal) %>"><img src="<%= deal.image_link %>" /></a>
      <p><a target="_blank" href="<%= deal_path(deal) %>"><%= deal.title %></a><span>￥<%= deal.price %></span></p>
    </div>
  <% end %>
</div>
