<h1>Listing crawler_sites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crawler_sites.each do |crawler_site| %>
  <tr>
    <td><%= crawler_site.name %></td>
    <td><%= crawler_site.url %></td>
    <td><%= link_to 'Show', crawler_site %></td>
    <td><%= link_to 'Edit', edit_crawler_site_path(crawler_site) %></td>
    <td><%= link_to 'Destroy', crawler_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crawler site', new_crawler_site_path %>
