<div class="deal_cont">
  <div class="deal_cont_L">
    <%= image_tag("more_photo.jpg")%>
  </div>
  <div class="deal_cont_R">
    <div class="deal_tu" >
      <img src="<%= @deal.image_link %>" />
    </div>
    <div class="deal_p">
      <h2><a target="_blank" href="<%= @deal.link %>"><%= @deal.title %></a></h2>
      <%= image_tag("tu_3.jpg")%>
    </div>
  </div>

</div>

